
<div class="row">
<div class="col-md-3 text-light">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9 text-light">
    <div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    
    <table *ngIf="dataLoaded==true" class="table table-striped table-light table-hover">
        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Model Yılı</th>
                <th>Renk</th>
                <th>Günlük Fiyat</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{car.brandName}}</td>
                <td>{{car.carName}}</td>
                <td>{{car.modelYear}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.dailyPrice}}</td>
                <td></td>
                <td><i class="fas fa-edit btn btn-success" routerLink = "/cars/carDetail/{{car.carId}}"></i></td>
                
            </tr>
        </tbody>
    </table>
  </div>  
</div>
